Repository ahureikinandrei/Cinema-ticket-reservation: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./client --fix, eslint ./server --fix

.lintstagedrc.json:

{
  "./client/src/**/*.{js,ts,jsx,tsx}": [
    "eslint ./client --fix"
  ],
  "./server/src/**/*.{js,ts,jsx,tsx}": [
    "eslint ./server --fix"
  ]
}

CT-1: cleared the project from template files
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/features/counter/Counter.module.css
  client/src/features/counter/Counter.tsx
  client/src/features/counter/counterAPI.ts
  client/src/features/counter/counterSlice.spec.ts
  client/src/features/counter/counterSlice.ts
  client/src/hooks/redux.ts
  client/src/index.tsx
  client/src/logo.svg
  client/src/react-app-env.d.ts
  client/src/redux/store.ts
  client/src/setupTests.ts
  server/package.json
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/main.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
Due: eslint ./client --fix, eslint ./server --fix

CT-1: added mongodb
  .gitignore
  .idea/codeStyles/Project.xml
  .lintstagedrc.json
  client/public/index.html
  server/.eslintrc.js
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/infrastructure/configuration/app-configuration.module.ts
  server/src/infrastructure/configuration/app-configuration.service.ts
  server/src/main.ts
Due: eslint ./server --fix

CT-2: added user authorization on server
  server/package-lock.json
  server/package.json
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt-auth.guard.ts
  server/src/auth/roles-auth.decorator.ts
  server/src/auth/roles.guard.ts
  server/src/infrastructure/configuration/app-configuration.module.ts
  server/src/infrastructure/configuration/app-configuration.service.ts
  server/src/orders/orders.controller.ts
  server/src/orders/orders.module.ts
  server/src/orders/orders.service.ts
  server/src/orders/scemas/order.schema.ts
  server/src/users/dto/add-role.dto.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/delete-uset.dto.ts
  server/src/users/schemas/user.schema.ts
  server/src/users/types/roles.enum.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.ts
Due: eslint ./server --fix

CT-2: added validation pipe
  server/package-lock.json
  server/package.json
  server/src/exceptions/validation.exception.ts
  server/src/pipes/validation.pipe.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/users.controller.ts
Due: eslint ./server --fix

CT-4: added film info page
  client/.eslintrc.json
  client/src/App.tsx
  client/src/components/films/Films.tsx
  client/src/components/films/film-card/BackSide.tsx
  client/src/components/films/film-card/FilmCard.tsx
  client/src/components/films/film-card/FrontSide.tsx
  client/src/components/films/film-card/filmCard.module.scss
  client/src/components/films/film-info/FilmInfo.tsx
  client/src/components/films/film-info/filmInfo.module.scss
  client/src/components/forms/auth-form/SingInForm.tsx
  client/src/components/forms/create-form/CreateFilmForm.tsx
  client/src/components/header/Header.tsx
  client/src/components/header/Navigation/Navigation.tsx
  client/src/components/header/Navigation/links.ts
  client/src/components/header/header.module.scss
  client/src/components/pagination/Pages.tsx
  client/src/constants/filmConstants.ts
  client/src/constants/routes.ts
  client/src/pages/film-page/FIlmPage.tsx
  client/src/pages/film-page/filmPage.module.scss
  client/src/pages/films-page/FilmsPage.tsx
  client/src/services/film.service.ts
  client/src/services/types.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/files/files.service.ts
  server/src/films/dto/film.dto.ts
  server/src/films/films.controller.ts
  server/src/films/films.service.ts
  server/src/films/schemas/film.schema.ts
  server/static/19bf7718-a17c-418f-9c29-2fcea686af26.jpg
  server/static/3b75ddb1-e419-4824-8053-a2768362f28c.jpg
  server/static/4859bd47-27a7-4a39-8740-323949383ac8.jpg
  server/static/8530a8c5-5a19-4fbd-a72a-8008e16d2204.jpg
  server/static/9f9299bc-2c64-48dd-96a0-3657094d7785.jpg
  server/static/ed4f0d8a-5d98-413c-9a4e-6e5e6038f7a8.jpg
Due: eslint ./client --fix, eslint ./server --fix

CT-5: add filtration by age and genre
  client/src/components/categories/Categories.tsx
  client/src/components/categories/categories.module.scss
  client/src/components/films/Films.tsx
  client/src/components/films/film-card/BackSide.tsx
  client/src/components/films/film-card/FilmCard.tsx
  client/src/components/films/film-info/FilmInfo.tsx
  client/src/components/forms/categories-form/CategoriesForm.tsx
  client/src/components/forms/create-form/CreateFilmForm.tsx
  client/src/components/search/search-input/SearchInput.tsx
  client/src/constants/baseUrl.ts
  client/src/constants/routes.ts
  client/src/constants/searchCategories.ts
  client/src/hooks/useDebounce.ts
  client/src/pages/films-page/FilmsPage.tsx
  client/src/redux/actions/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/search-films/reducer.ts
  client/src/redux/search-films/selectors.ts
  client/src/services/film.service.ts
  client/src/services/types.ts
  server/src/films/dto/queryParams.dto.ts
  server/src/films/films.controller.ts
  server/src/films/films.service.ts
  server/src/films/schemas/film.schema.ts
  server/static/0fab4318-1ead-4d29-af09-923c5a41db22.jpg
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added create session service
  client/src/components/films/film-info/FilmInfo.tsx
  client/src/components/forms/categories-form/CategoriesForm.tsx
  client/src/components/forms/cinema-form/CinemaForm.tsx
  client/src/components/forms/create-form/CreateFilmForm.tsx
  client/src/components/forms/create-form/createFilmForm.module.scss
  client/src/components/forms/film-form/FilmForm.tsx
  client/src/components/forms/film-form/createFilmForm.module.scss
  client/src/components/forms/session-form/SessionForm.tsx
  client/src/constants/filmConstants.ts
  client/src/constants/messages.ts
  client/src/constants/routes.ts
  client/src/pages/admin-page/AdminPage.tsx
  client/src/pages/admin-page/adminPage.module.scss
  client/src/pages/films-page/FilmsPage.tsx
  client/src/redux/search-films/reducer.ts
  client/src/services/cinema.service.ts
  client/src/services/film.service.ts
  client/src/services/session.service.ts
  client/src/services/types.ts
  client/src/utils/utils.ts
  server/src/app.module.ts
  server/src/cinema/cinema.controller.ts
  server/src/cinema/cinema.module.ts
  server/src/cinema/cinema.service.ts
  server/src/cinema/dto/cinema.dto.ts
  server/src/cinema/schemas/cinema.schema.ts
  server/src/films/dto/queryParams.dto.ts
  server/src/films/films.service.ts
  server/src/sessions/dto/session.dto.ts
  server/src/sessions/schemas/session.schema.ts
  server/src/sessions/sessions.controller.ts
  server/src/sessions/sessions.module.ts
  server/src/sessions/sessions.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added empty session page
  client/src/App.tsx
  client/src/components/films/film-info/filmInfo.module.scss
  client/src/components/sessions/sessions-list/SessionList.tsx
  client/src/constants/routes.ts
  client/src/pages/film-page/FIlmPage.tsx
  client/src/pages/film-page/filmPage.module.scss
  client/src/pages/session-page/SessionPage.tsx
  client/src/services/session.service.ts
  client/src/services/types.ts
  server/src/sessions/sessions.controller.ts
  server/src/sessions/sessions.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added hall component
  client/src/assets/images/svg/chair.svg
  client/src/assets/images/svg/love_seat.svg
  client/src/assets/images/svg/premiere_sofa.svg
  client/src/assets/images/svg/screen.svg
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/hall/hall.module.scss
  client/src/components/hall/seats.ts
  client/src/declaration.d.ts
  client/src/pages/admin-page/AdminPage.tsx
  client/src/pages/admin-page/adminPage.module.scss
  client/src/pages/session-page/SessionPage.tsx
  client/src/pages/session-page/sessionPage.module.scss
  server/src/app.module.ts
  server/src/hall/hall.controller.ts
  server/src/hall/hall.module.ts
  server/src/hall/hall.service.ts
  server/src/silid-seats/solid-seats.controller.ts
  server/src/silid-seats/solid-seats.module.ts
  server/src/silid-seats/solid-seats.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT: refactor hall service
  client/.eslintrc.json
  client/src/components/forms/session-form/SessionForm.tsx
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/hall/hall-row/Tooltip.tsx
  client/src/components/hall/hall.module.scss
  client/src/components/hall/seats-types.tsx
  client/src/index.scss
  client/src/index.tsx
  client/src/pages/session-page/SessionPage.tsx
  client/src/redux/actions/index.ts
  client/src/redux/order/reducer.ts
  client/src/redux/order/selectors.ts
  client/src/redux/reducers/index.ts
  client/src/services/price.service.ts
  client/src/services/session.service.ts
  client/src/services/types.ts
  client/tsconfig.json
  server/src/prices/dto/price.dto.ts
  server/src/prices/prices.service.ts
  server/src/prices/schemas/price.schema.ts
  server/src/sessions/sessions.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added hall schema to price
  client/src/components/hall/Hall.tsx
  client/src/pages/session-page/SessionPage.tsx
  client/src/services/types.ts
  server/src/prices/schemas/price.schema.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added reserv seat visualisation
  client/.eslintrc.json
  client/src/components/forms/hall-form/HallForm.tsx
  client/src/components/forms/session-form/SessionForm.tsx
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-greed/HallGreed.tsx
  client/src/components/hall/hall-greed/HallRowGreed.tsx
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/hall/hall-row/Tooltip.tsx
  client/src/components/hall/hall.module.scss
  client/src/index.scss
  client/src/pages/session-page/SessionPage.tsx
  client/src/services/hall.service.ts
  client/src/services/session.service.ts
  client/src/services/types.ts
  client/src/variables.scss
  server/src/prices/schemas/price.schema.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added hall legend
  client/src/components/categories/Categories.tsx
  client/src/components/categories/categories.module.scss
  client/src/components/films/film-card/filmCard.module.scss
  client/src/components/forms/hall-form/HallForm.tsx
  client/src/components/forms/hall-form/hallForm.module.scss
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-legend/HallLegend.tsx
  client/src/components/hall/hall-legend/hallLegend.module.scss
  client/src/components/hall/hall-legend/seat-description/SeatDescription.tsx
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/hall/hall.module.scss
  client/src/index.scss
  client/src/pages/session-page/SessionPage.tsx
  client/src/pages/session-page/sessionPage.module.scss
  client/src/redux/order/reducer.ts
  client/src/redux/order/selectors.ts
  client/src/sass/mixins.scss
  client/src/sass/placeholder.scss
  client/src/sass/variables.scss
  client/src/services/types.ts
  client/src/variables.scss
Due: eslint ./client --fix

CT-5: update sission list view
  client/src/components/sessions/sessions-list/SessionList.tsx
  client/src/components/sessions/sessions-list/sessionList.module.scss
  client/src/sass/variables.scss
Due: eslint ./client --fix

CT-5: added cost order reducer
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-legend/HallLegend.tsx
  client/src/components/hall/hall-legend/hallLegend.module.scss
  client/src/components/hall/hall-legend/seat-description/SeatDescription.tsx
  client/src/constants/filmConstants.ts
  client/src/pages/session-page/SessionPage.tsx
  client/src/pages/session-page/sessionPage.module.scss
  client/src/redux/order/selectors.ts
  client/src/sass/mixins.scss
  client/src/sass/variables.scss
  client/src/services/types.ts
Due: eslint ./client --fix

CT-5: init order page
  client/src/App.tsx
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-legend/HallLegend.tsx
  client/src/components/hall/hall-legend/hallLegend.module.scss
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/order/order-seat/OrderSeat.tsx
  client/src/components/order/order-seat/orderSeat.module.scss
  client/src/components/sessions/sessions-list/SessionList.tsx
  client/src/constants/routes.ts
  client/src/hooks/useAuthModal.ts
  client/src/pages/film-page/FilmPage.tsx
  client/src/pages/order-page/OrderPage.tsx
  client/src/pages/order-page/orderPage.module.scss
  client/src/pages/session-page/SessionPage.tsx
  client/src/redux/order/reducer.ts
  client/src/redux/order/selectors.ts
  client/src/redux/users/selectors.ts
  client/src/services/order.service.ts
Due: eslint ./client --fix

CT-5: updated style of pagination
  client/src/components/pagination/pagination.module.scss
  client/src/index.scss
Due: none

CT-5: fixed films cards responsive
  client/src/App.tsx
  client/src/components/films/film-card/FilmCard.tsx
  client/src/components/sessions/sessions-list/SessionList.tsx
  client/src/pages/error-page/ErrorPage.tsx
  client/src/pages/error-page/errrorPage.module.scss
  client/src/pages/films-page/FilmsPage.tsx
  client/src/pages/films-page/filmsPage.module.scss
  client/src/pages/order-page/OrderPage.tsx
  client/src/redux/order/reducer.ts
  client/src/redux/order/selectors.ts
  client/src/services/order.service.ts
  client/src/services/price.service.ts
  client/src/services/types.ts
  client/src/utils/types.ts
  server/src/app.module.ts
  server/src/orders/dto/orderCreate.dto.ts
  server/src/orders/orders.controller.ts
  server/src/orders/orders.module.ts
  server/src/orders/orders.service.ts
  server/src/orders/schemas/order.schema.ts
  server/src/prices/prices.module.ts
  server/src/prices/prices.service.ts
  server/src/prices/schemas/price.schema.ts
  server/src/sessions/sessions.module.ts
  server/src/silid-seats/solid-seats.controller.ts
  server/src/silid-seats/solid-seats.module.ts
  server/src/silid-seats/solid-seats.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: Added saving the order to the user
  server/src/orders/orders.controller.ts
  server/src/orders/orders.module.ts
  server/src/orders/orders.service.ts
  server/src/orders/types.ts
  server/src/users/users.service.ts
Due: eslint ./server --fix

CT-5: init profile page
  client/src/App.tsx
  client/src/components/header/Header.tsx
  client/src/components/header/Navigation/Navigation.tsx
  client/src/components/header/Navigation/links.ts
  client/src/components/header/header.module.scss
  client/src/index.scss
  client/src/pages/profile-page/ProfilePage.tsx
  client/src/pages/profile-page/profilePage.module.scss
  client/src/routes/PrivateRouter.tsx
  client/src/routes/PublicRouter.tsx
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added orders list on profile page
  client/.eslintrc.json
  client/src/App.tsx
  client/src/components/forms/session-form/SessionForm.tsx
  client/src/components/hall/hall-legend/hallLegend.module.scss
  client/src/components/hall/hall-legend/seat-description/SeatDescription.tsx
  client/src/components/header/Header.tsx
  client/src/components/header/Navigation/Navigation.tsx
  client/src/components/header/Navigation/links.ts
  client/src/components/header/header.module.scss
  client/src/components/order/order-info/OrderInfo.tsx
  client/src/components/order/order-info/orderInfo.module.scss
  client/src/components/order/order-list/OrderList.tsx
  client/src/components/sessions/sessions-list/sessionList.module.scss
  client/src/constants/routes.ts
  client/src/index.scss
  client/src/index.tsx
  client/src/models/IUser.ts
  client/src/pages/profile-page/ProfilePage.tsx
  client/src/pages/profile-page/profilePage.module.scss
  client/src/redux/users/selectors.ts
  client/src/services/order.service.ts
  client/src/services/price.service.ts
  client/src/services/types.ts
  client/src/services/user.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added step progress in admin page
  client/src/components/alert/Alert.tsx
  client/src/components/alert/useAlert.ts
  client/src/components/films/Films.tsx
  client/src/components/films/film-card/filmCard.module.scss
  client/src/components/forms/cinema-form/CinemaForm.tsx
  client/src/components/forms/film-form/FilmForm.tsx
  client/src/components/forms/film-form/reducer.ts
  client/src/components/forms/film-form/useFilmReducer.ts
  client/src/components/forms/hall-form/HallForm.tsx
  client/src/components/progress/step-progree/Step.tsx
  client/src/components/progress/step-progree/StepNavigation.tsx
  client/src/components/progress/step-progree/StepProgress.tsx
  client/src/components/progress/step-progree/stepProgress.module.scss
  client/src/components/sessions/sessions-list/SessionList.tsx
  client/src/components/sessions/sessions-list/sessionList.module.scss
  client/src/constants/filmConstants.ts
  client/src/pages/admin-page/AdminPage.tsx
  client/src/pages/admin-page/adminPage.module.scss
  client/src/pages/admin-page/reducer.js
  client/src/pages/films-page/FilmsPage.tsx
  client/src/pages/films-page/filmsPage.module.scss
  client/src/redux/users/reducer.ts
  client/src/redux/users/selectors.ts
  client/src/sass/placeholder.scss
  server/static/29c9b0ae-cba3-4293-b5c6-a8f3a8eed8be.jpg
  server/static/a4c9ff87-bf30-42af-9540-bf15bc77dcf9.jpg
Due: eslint ./client --fix

CT-5: added filtration by city and cinema
  client/src/components/categories/Categories.tsx
  client/src/components/forms/categories-form/CategoriesForm.tsx
  client/src/components/forms/categories-form/categoriseForm.module.scss
  client/src/redux/search-films/reducer.ts
  client/src/services/film.dto.ts
  client/src/services/film.service.ts
  server/src/films/dto/queryParams.dto.ts
  server/src/films/films.module.ts
  server/src/films/films.service.ts
  server/src/sessions/sessions.module.ts
  server/src/sessions/sessions.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added search film by date
  client/src/components/forms/categories-form/CategoriesForm.tsx
  client/src/pages/admin-page/reducer.js
  client/src/redux/search-films/reducer.ts
  client/src/services/film.dto.ts
  server/src/films/dto/queryParams.dto.ts
  server/src/films/films.service.ts
  server/src/sessions/sessions.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-5: added filtration by free seats
  client/src/components/forms/categories-form/CategoriesForm.tsx
  client/src/components/forms/session-form/SessionForm.tsx
  client/src/components/forms/session-form/sessionForm.module.scss
  client/src/constants/routes.ts
  client/src/pages/admin-page/AdminPage.tsx
  client/src/pages/admin-page/adminPage.module.scss
  client/src/pages/films-page/FilmsPage.tsx
  client/src/pages/order-page/OrderPage.tsx
  client/src/redux/search-films/reducer.ts
  client/src/services/film.dto.ts
  client/src/services/session.service.ts
  client/src/services/types.ts
  server/src/films/dto/queryParams.dto.ts
  server/src/films/films.service.ts
  server/src/main.ts
  server/src/sessions/dto/session.dto.ts
  server/src/sessions/schemas/session.schema.ts
  server/src/sessions/sessions.controller.ts
  server/src/sessions/sessions.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-6: init websocket
  client/src/App.tsx
  client/src/constants/baseUrl.ts
  client/src/hooks/useAuthModal.ts
  client/src/hooks/useDebounce.ts
  client/src/hooks/useSeatsSockets.tsx
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/seats.gateway.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-6: booking seats websocket service added
  client/src/App.tsx
  client/src/components/hall/Hall.tsx
  client/src/components/hall/hall-row/HallRow.tsx
  client/src/components/hall/hall-row/RowNumber.tsx
  client/src/components/hall/hall-row/Seat.tsx
  client/src/components/hall/hall.module.scss
  client/src/hooks/useSeatsSockets.tsx
  client/src/pages/session-page/SessionPage.tsx
  client/src/redux/users/reducer.ts
  client/src/sass/variables.scss
  client/src/services/seatSockets.service.ts
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/cinema/cinema.service.ts
  server/src/gateways/booking.gateway.ts
  server/src/gateways/booking.module.ts
  server/src/gateways/booking.service.ts
  server/src/gateways/schemas/booking.schema.ts
  server/src/gateways/types.ts
  server/src/seats.gateway.ts
Due: eslint ./client --fix, eslint ./server --fix

CT-6: added database cleanup schedule
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/gateways/booking.gateway.ts
  server/src/gateways/booking.service.ts
Due: eslint ./server --fix

CT-6: fix protect profile route on client side
  .idea/codeStyles/Project.xml
  client/src/App.tsx
  client/src/routes/PrivateRouter.tsx
Due: eslint ./client --fix
